/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  transition: 0.4s;
  width: 100%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
  background-color: #ccc;
} */

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
  width: 100%;
  display: none;
  overflow: hidden;
}

.accordion-panel-item {
  display: block;
  border-top: 1px solid #e1e0e0;
  font-size: 14px;
  width: 100%;
}


