.sale-box {
  background: #f2f2f2;
  margin-left: auto;
    margin-right: auto;
  margin-bottom: 20px;
  max-width: 270px;
  min-height: 116px;
  padding: 20px;
  position: relative;
}

span.sale-price {
  color: #19caaf;
}

.sale-tag {
    position: relative;
    top: -30px;
    left: 10px;

}

.square {
    height: 16px;
    width: 26px;
    background-color:#19caaf;
    color: #fff;
    font-size: 10px !important;
    padding-left: 4px;

}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid #19caaf;
    position: absolute;
    left: 12px;
}

img.sale-off {
  transition: .2s;
  /* width: 40%; */
  /* height: 40%; */
}

img.sale-off:hover {
 transform: scale(1.1);
 cursor: pointer;
}
.detail {
  float: left;
}


@media (min-width: 375px) {
  img.sale-off {
    width: 40%;
    height: 50%;
  }
}